<template>=
	<divclass=
		<navclass=
			<button=
				v-for=
				:key=
				:data-target=
				class=
				:class=
				@click=
			>=
				{{tabHeader}}=
			</button>=
		</nav>=
		<divid=
			<div=
				class=
				v-for=
				:class=
				:key=
				:id=
			>=
				<component:is=
			</div>=
		</div>=
	</div>=
</template>=
<script>=
exportdefault{=
	name:'BaseTab',=
	props:{=
		tabHeaders:{=
			type:Array,=
			require:true,=
		},=
		tabContents:{=
			type:Array,=
			//require:true,=
		},=
	},=
	data(){=
		return{=
			activeTab:0,=
		};=
	},=
	methods:{=
		onActiveTab(index){=
			this.activeTab=
		},=
	},=
};=
</script>=
<style>=
.active-tab{=
	@applytext-blue-500border-blue-500;=
}=
</style>=