<template>=
	<divclass=
		<h1>NewsListWithFilterTab</h1>=
		<filters></filters>=
		<divclass=
			<new-item></new-item><new-item></new-item>=
			<new-item></new-item>=
			<new-item></new-item>=
		</div>=
	</div>=
</template>=
<script>=
importFiltersfrom'../components/UI/Filters.vue';=
importNewItemfrom'../components/news/NewItem.vue';=
exportdefault{=
	name:'CustomNewListPage',=
	components:{=
		Filters,=
		NewItem,=
	},=
};=
//https://newsapi.org/v2/everything?q=
//`animal`&sortBy=
</script>=